# Copy this file to .env and fill in your values

# Roku device settings
ROKU_IP=192.168.1.100
ROKU_PASS=your_dev_password

# Telemetry settings
TELEMETRY_URL=https://example.com/api/telemetry
TELEMETRY_TOKEN=RANDOM-PUBLIC-TOKEN-TO-LESSEN-SPAM
